<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.threecat.springboot.sso.mapper.UserMapper">
	<select id="selectByPrimaryKey" parameterType="long" resultType="user">
		SELECT *
		FROM t_user
		WHERE user_id = #{user_id}
	</select>

	<select id="selectByUsername" parameterType="varchar" resultType="user">
		SELECT *
		FROM t_user
		WHERE user_name = #{user_name}
	</select>
</mapper>